<nav>
		<img class="immy" src="img/google.png" alt="google" />
		<form>
			<input class= type="search"/>
			<button>Search</button>
		</form>
	</nav>
	<span class="results">{{results.length}} results</span>
{{#each results as |e|}}
	<div class="web3">
		<small>{{e.url}}</small>
	</div>
	<h2>
		<a href={{e.url}}>
			{{e.title}}</a>
	 </h2>
	<p>{{e.description}}</p>
	<div class="lines">
		<ul>
			{{#each e.links as |a|}}
			<li><a href="{{a.url}}">{{a.title}}</a>
			</li>
{{/each}}
		</ul>
	</div>
	{{/each}}
